*.pyc
*/__pycache__/
__pycache__/

.env
.envrc

*.log
*.pid
*.db
*.sqlite3

*.swp
*.swo
.DS_Store

.vscode/
.idea/
*.egg-info/

*.tar.gz
*.zip
*.bak
*.war

filestore/
db-data/
node_modules/
secrets/

.coverage
htmlcov/