
services:
  db:
    image: postgres:15
    container_name: odoo18-db
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_DB=postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped
    ports:
      - "5432:5432"

  web:
    image: odoo:18.0
    container_name: odoo18-web
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - odoo_data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./enterprise:/mnt/enterprise-addons
      - ./odoo/addons:/mnt/extra-addons
      - ./odoo/outputs:/var/log/odoo

    restart: unless-stopped
volumes:
  db_data:
  odoo_data:
