# Place in openems-backend/config.d/Metadata
:org.apache.felix.configadmin.revision:=L"2"
database="postgres"
debugMode="ON"
odooHost="localhost"
odooPassword="admin"
odooPort=I"8069"
odooProtocol="HTTP"
odooUid=I"2"
pgConnectionPoolSize=I"40"
pgHost="localhost"
pgPassword="odoo"
pgPort=I"5432"
pgUser="odoo"
poolSize=I"30"
service.pid="Metadata.Odoo"
